body,html{
	font-family: "Raleway";
	font-weight: 400;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
	background-color: white;
	margin: 0;
}

button:focus {outline:0;}
input:focus {outline:0;}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select,
  textarea,
  input {
    font-size: 18px !important;
  }
}

::placeholder{
	color: rgb(200,200,200);
}

::selection {
	background: rgb(200,200,200); /* WebKit/Blink Browsers */
	color: white;
}

@font-face {
  font-family: "iconvault";
  src: url("../weather_icons/iconvault_forecastfont.eot");
  src: url("../weather_icons/iconvault_forecastfont.eot?#iefix") format("embedded-opentype"),
       url("../weather_icons/iconvault_forecastfont.woff") format("woff"),
       url("../weather_icons/iconvault_forecastfont.ttf") format("truetype"),
       url("../weather_icons/iconvault_forecastfont.svg#iconvault") format("svg");
  font-weight: normal;
  font-style: normal;
}

#alarms {
	position: absolute;
	left: 50px;
	top: 50%;
	transform: translateY(-50%));
}

.alarm {
	width: 100%;
}

#forecast {
	position: absolute;
	right: 50px;
	top: 20px;
	width: 130px;
	height: 800px;
	display: none;
}

.weather_obj {
	position: relative;
	width: 100%;
	height: 100px;
	margin-bottom: 40px;
}

.weather_icon {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 60px;
}

.temp_obj {
	position: absolute;
	bottom: 0px;
	left: 0px;
	height: 70px;
	width: 100px;
	font-size: 70px;
	padding: 0;
	margin: 0;
}

.temp {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 70px;
	padding: 0;
	margin: 0;
}

.temp_label {
	position: absolute;
	bottom: 10px;
	right: 0px;
	font-size: 24px;
	padding: 0;
	margin: 0;
}

.day{
	position: absolute;
	top: 15px;
	left: 20px;
	margin: 0;
	padding: 0;
}

#messages{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 800px;
	max-width: 90%;
}

#messages p{
	width: 100% !important;
	text-align: center;
}

#messages .id {
	margin: 0;
	font-size: 16px;
	text-align: center;
	color: rgb(200,200,200);
}

#messages .message{
	margin-top: 15px;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
}

#messages .message:nth-child(1) {
	font-size: 30px;
	line-height: 70px;
	text-align: center;
}

#icon {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 70px;
}

#icon p{
	width: 100%;
	font-size: 24px;
	text-align: center;
	margin: 0;
	z-index: 1;
}

#icon img{
	width: 50px;
	transform: translateY(-10px);
	width: 100%;
	background-color: white;
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	opacity: 1;
	transition: 0.2s linear;
}

#icon:hover > img{
	opacity: 0;
}

#recordButton {
	position: absolute;
	bottom: 30px;
	left: 20px;
	background-color: white;
	border: 2px solid black;
	border-radius: 50%;
	width: 70px;
	height: 70px;
	overflow: hidden;
}

.status{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	border: none;
	transform: translate(-50%,-50%) rotate(0);
	overflow: hidden;
}

#inactiveStatus{
	cursor: pointer;
	z-index: 2;
	padding: 10px;
	background-color: white;
}

#inactiveStatus img{
	width: 100%;
	height: 100%;
}

#inactiveStatus:hover img{
	content: url("../images/microphone-1.png");
}

#activeStatus{
	z-index: 1;
	width: 80%;
	height: 80%;
}

@keyframes rotate360 {
  to { transform: translate(-50%,-50%) rotate(360deg); }
}

#status {
	z-index: 1;
	width: 100%;
	height: 100%;
}

form {
	position: absolute;
	left: 50%;
	bottom: 30px;
	width: 500px;
	max-width: 95%;
	transform: translateX(-50%);
}

form input {
	width: 100%;
	height: 45px;
	text-align: center;
	border: 2px solid black;
	border-radius: 2px;
}

input[type="text"]
{
	font-family: "Raleway";
	font-size: 18px;
}

@media screen and (max-width: 768px){

	form {
		bottom: 5px;
	}

	form input{
		border: none;
		border-bottom: 2px solid black;
	}

	#messages .message{
		margin-top: 10px;
		font-size: 16px;
		line-height: 30px;
	}

	#messages .message:nth-child(1) {
		font-size: 20px;
		line-height: 30px;
	}

	#recordButton{
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		left: auto;
		bottom: auto;
		border: none;
	}

	#inactiveStatus{
		display: none !important;
	}

	#icon{
		display: none;
	}

}
