<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- Raleway -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body>


	<p if="greeting">Hello! I'm Al_fred.</p>

	<div id="user">
		<p class="id">User</p>
		<p id="user_message"></p>
	</div>

	<div id="alfred">
		<p class="id">Al_fred</p>
		<p id="ai_message"></p>
	</div>	

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>