<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<!-- Raleway -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body>

	<p>Good day! My name is Al_fred.</p>
	<p id="user_message">Message</p>
	<p id="ai_message">Message</p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

</body>
</html>