<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='weather_icons/iconvault-preview.css') }}">
	<!-- Raleway -->
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,500' rel='stylesheet' type='text/css'>
</head>
<body>

	<div id="icon">
		<p>Alfred</p>
		<img src="{{ url_for('static', filename='images/eyeglasses.png') }}">
	</div>

	<div id="messages">
		<p class="id">User</p>
		<p class="message" id="user_message"> - </p>
		<p class="id">Alfred</p>
		<p class="message" id="ai_message"> - </p>
	</div>

	<div id="alarms"></div>

	<form autocomplete="off"><input placeholder="Message Input" autocomplete="false" type="text"></form>
	<button id="recordButton" onclick="record()"><img id="status" src="{{ url_for('static', filename='images/microphone.png') }}"></img></button>

<!-- 	<div id="forecast">
		<div class="weather_obj">
			<i class="weather_icon icon-sun"></i>
			<div class="temp_obj">
				<p class="temp">14</p>
				<p class="temp_label">C&deg;</p>
			</div>
			<p class="day">Mon</p>
			<p class="desc"Cloudy</p>
		</div>
		<div class="weather_obj">
			<i class="weather_icon icon-sun"></i>
			<div class="temp_obj">
				<p class="temp">23</p>
				<p class="temp_label">C&deg;</p>
			</div>
			<p class="day">Tue</p>
			<p class="desc"Cloudy</p>
		</div>
		<div class="weather_obj">
			<i class="weather_icon icon-basecloud"></i>
			<div class="temp_obj">
				<p class="temp">14</p>
				<p class="temp_label">C&deg;</p>
			</div>
			<p class="day">Wed</p>
			<p class="desc"Cloudy</p>
		</div>
		<div class="weather_obj">
			<i class="weather_icon icon-cloud"></i>
			<div class="temp_obj">
				<p class="temp">19</p>
				<p class="temp_label">C&deg;</p>
			</div>
			<p class="day">Thu</p>
			<p class="desc"Cloudy</p>
		</div>
		<div class="weather_obj">
			<i class="weather_icon icon-sunrise"></i>
			<div class="temp_obj">
				<p class="temp">15</p>
				<p class="temp_label">C&deg;</p>
			</div>
			<p class="day">Fri</p>
			<p class="desc"Cloudy</p>
		</div>
	</div> -->

	<script type=text/javascript>
  		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="https://code.responsivevoice.org/responsivevoice.js"></script>
	<script src="{{ url_for('static', filename='js/lodash.core.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

</body>
</html>